
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light theme */
    --background: #FFFFFF;
    --foreground: #00171F;

    --card: #FFFFFF;
    --card-foreground: #00171F;

    --popover: #FFFFFF;
    --popover-foreground: #00171F;

    --primary: #003459;
    --primary-foreground: #FFFFFF;

    --secondary: #007EA7;
    --secondary-foreground: #FFFFFF;

    --accent: #00A8E8;
    --accent-foreground: #00171F;

    --muted: #e8e8e8;
    --muted-foreground: #003459;

    --destructive: #E11D48;
    --destructive-foreground: #FFFFFF;

    --border: #003459;
    --input: #003459;
    --ring: #00A8E8;

    --radius: 0.5rem;
  }

  .dark {
    --background: #121212;
    --foreground: #E0E0E0;

    --card: #121212;
    --card-foreground: #E0E0E0;

    --popover: #121212;
    --popover-foreground: #E0E0E0;

    --primary: #002A43;
    --primary-foreground: #FFFFFF;

    --secondary: #00607D;
    --secondary-foreground: #FFFFFF;

    --accent: #0088C5;
    --accent-foreground: #FFFFFF;

    --muted: #1a232c;
    --muted-foreground: #bfc8d5;

    --destructive: #E11D48;
    --destructive-foreground: #FFFFFF;

    --border: #002A43;
    --input: #002A43;
    --ring: #0088C5;
  }
}

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground font-inter antialiased;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-accent;
  }
  .vertical-blink-bar {
    width: 7px;
    border-radius: 6px;
    margin-right: 1.2rem;
    background: linear-gradient(180deg, #00A8E8 0%, #003459 100%);
    animation: blinker 1s steps(1, end) infinite;
    display: inline-block;
    min-height: 2.5rem;
    height: 100%;
    vertical-align: middle;
  }
}

@keyframes blinker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
